h1{color: red;}
main{
    border: 2px solid red;
    display: flex;
}
.border{
    border: 2px solid blue;  
}

.component{
    color:green;
    padding: 10px;
       
}
.colum1{
   
    flex: 2;

}
.colum2{
flex: 1;

}
